.cardContent{
  .timeWrapper{
    display:flex;
    height:3rem;
    span{
      color: #CACBFF;
      margin-right:0.4rem;
    }
  }
}
.spotsInputStyle{
  margin-left: 8%;
}
.selectColor .inputAddEvent .form-control {
  color:white!important;
}
#color{
  color:#2bbbad;
}