.testBtn{
  background-color: tomato;

}


.cardContent{
  .timeWrapper{
    display:flex;
    height:3rem;
    span{
      color: #CACBFF;
      margin-right:0.4rem;
    }
  }
}
.spotsInputStyle{
  margin-left: 8%;
}
.selectColor .inputAddEvent .form-control {
  color:white!important;
}
#color{
  color:#2bbbad;
}

.showSetRoleWrapper{
  display: flex;
  width:100%!important;
  .roleNameWrapper{
    display: flex;
    color: #2196F3;
    width: 35%!important;
    p{
      color:black;
      margin-left:2%
    }
  }
  .setRoleSwitchWrapper{
    width:65%!important;
  }
}



@media (max-width: 600px) {
  .eventName{
    width: 85%!important;
  }
  .modal-content{
    padding: 4%!important;
  }
  .addEventWrapper{
    width:100%!important;
    .addEventInputsWrapper{
      width: 65%!important;
    }
    .addEventSelectorsWrapper{
      width: 35% !important;
    }
  }
  .allUser{
    width: 100% !important;
    div{
      width: 100% !important;
    }
    .topBtnsWrapper{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 3%;
    }
  }
}
