.calendarEventsWrapper {
  padding: 0 2% 3% 2%;

  .calendar-wrapper {
    padding: 0 3% 5% 3%;
  }

  .filterWrapper {
    margin-right: 3% !important;

    label {
      color: #2C3E50;
      font-size: 83%;
      font-weight: bold;
    }

    .filterControls {
      box-shadow: #2C3E50 3px 3px 5px;
    }
  }

}

.hover-button {
  background-color: rgba(20, 20, 20, 0.10);
  border-radius: 3px;
  color: #9B9B9B;
  position: relative;
  top: 2px;
  left: 5px;
  font-size: 36px;
  cursor: pointer;
}

.cursorPointer {
  cursor: pointer !important;
}

//@media (max-width: 500px) {
//  .calendarEventsWrapper {
//
//    .justifyFilterWrapper {
//      height: 50% !important;
//      .filterWrapper {
//        height: 50% !important;
//        padding: 0.5rem!important;
//        .filterControls{
//          height: 50%;
//        }
//        label.form-label{
//          display: none;
//        }
//      }
//    }
//  }
//  .fc .fc-toolbar-title {
//    font-size: 1.4em;
//    margin: 0;
//  }
//  .fc .fc-toolbar.fc-header-toolbar{
//    width:70%;
//    position: absolute;
//  }
//}