.carousel-wrapper,
.carousel,
.carousel > .slider-wrapper,
.carousel > .slider-wrapper > .slider {
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.carouselImg {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}

.navBarNotHome {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 2;
}










