.kep-login-facebook.metro{
  border-radius: 2px!important;
  font-weight: 500;
  letter-spacing: 0.5px!important;
}


@media (max-width: 780px) {
  .kep-login-facebook.metro{
    width: 20rem;
    height: 4rem;

  }
}