.datepicker-modal {
  height: auto;
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #26a69a !important;
  border-color: white;
  outline: none !important;
  box-shadow: none !important;
}

// nav Styles
.adminModal {
  margin: 0 !important;
  padding: 0 !important;

  input.form-control {
    font-size: 80%;
    height: 1.8rem;
  }

  .form-group {
    margin: 0 3% 5% 3%;
  }

  .adminNavWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .adminNavUserNameWrapper {
      display: flex;
      justify-content: center;
      width: 40%;

      p {
        height: 65%;
        color: black;
        letter-spacing: 0.1rem;
        font-weight: 450;
        cursor: pointer;
      }
    }

    .adminNavButtonsWrapper {
      width: 50%;

      .nav-item {
        font-size: 90%;

        .nav-link {
          padding: 0 10px 0 10px;
        }
      }
    }
  }
}


@media (max-width: 600px) {
  .adminModal {
    .adminNavWrapper {
      .adminNavUserNameWrapper {
        width: 30%;
      }

      .adminNavButtonsWrapper {
        width: 67%;
        margin-right: 2%;

        .nav-item {
          .nav-link {
            padding: 0;
          }
        }
      }
    }
  }
}

//users Render styles
.usersWrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  .userWrapper {
    padding: 5%;
    margin: 2% 0 2% 0;

    .userDetailsEmailWrapper {
      .email {
        color: #2196F3;
      }

      .emailDetails {
        color: black;
        margin-left: 5px;
      }
    }

    .userDetailsNameWrapper {
      .name {
        color: #2196F3;
      }

      .nameDetails {
        color: black;
        margin-left: 5px;
      }
    }
  }
}


.modal.modal-fixed-footer {
  i {
    cursor: default;
    color: #0d47a1;
  }
}

.timepicker-modal {
  height: auto !important;
}

@media screen and (min-width: 768px) {
  .modal.modal-fixed-footer {
    top: 1% !important;
    min-height: 95vh !important;
  }
}


.curPointer {
  cursor: pointer !important;
}

option {
  background-color: whitesmoke;
}


.showRule {
  span {
    margin-right: 3px;
  }
}

.accordingDescription {
  color: black;
  white-space: normal;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 15px !important;
  line-height: 180%;
}