.nav-wrapper {
  .dropdown-toggle::after{
    display: none;
  }
  position: fixed;
  .userNameNav{
    margin-right: 1rem;
    justify-content: center;
  }
  a:hover {
    text-decoration: none !important;
    background-color: rgba(250, 255, 229, 0.2);
  }

  ul {
    a:hover {
      text-decoration: none !important;
      color: white;
    }
  }
}

i {
  margin-right: 10px;
  margin-left: 8px;
}

.btn, .btn-large, .btn-small {
  margin-left: 7px;
}

.logoNavBar {
  font-family: 'Abril Fatface', cursive;
  color: RGBA(255, 255, 255, 0.85);
  .logoHeader {
    text-shadow: -3px 4px 3px black;
  }
}
.sidenav{
  .sideNavRegLoginWrapper{
    height: 35%;
  }
  .facebookGoogleButtonsWrapper{
    height: 62%;
    display: flex;
    align-items: end;
    justify-content: end;
    width: 100%;
    margin-right: 3rem;
    .facebookGoogleButtonsContent{
      opacity: 1!important;
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0 1rem 0 1rem;
      .facebookWrapper{
        margin-left: 5px;
        .kep-login-facebook.small{
          border-radius: 2px;
          height: 2.9rem !important;
          box-shadow: -5px 2px 10px rgba(0, 0, 0 , 20%);
          font-family: Roboto, sans-serif
        }
      }
      .googleWrapper{
        box-shadow: -4px 2px 10px rgba(0, 0, 0 , 20%);
        border-radius: 2px;
        margin-right: 5px;
        div, button, span {
          box-shadow: none!important;
          font-weight: 800;
          opacity: 1!important
        }
      }
    }
  }
}


@media (max-width: 476px) {
  .logoHeader{
    display: none;
  }
}
.sidenav{
  width: max-content!important;

}
