
.showSetRoleWrapper {
  display: flex;
  width: 100% !important;

  .roleNameWrapper {
    display: flex;
    color: #2196F3;
    width: 35% !important;

    p {
      color: black;
      margin-left: 2%
    }
  }

  .setRoleSwitchWrapper {
    width: 65% !important;
  }
}


//users Render styles
.usersWrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  .userWrapper {
    padding: 5%;
    margin: 2% 0 2% 0;
    width: 70%;

    .userDetailsEmailWrapper {
      .email {
        color: #2196F3;
      }

      .emailDetails {
        color: black;
        margin-left: 5px;
      }
    }

    .userDetailsNameWrapper {
      .name {
        color: #2196F3;
      }

      .nameDetails {
        color: black;
        margin-left: 5px;
      }
    }
  }

  .subscriptions {
    .list-group-item {
      div {
        display: flex;
        justify-content: center;
        text-align: center;
      }

      .descriptionName {
        display: flex;
        justify-content: center;
        text-align: center;
      }
    }
  }
}

@media (max-width: 500px) {
  .usersWrapper {
    margin: 7% 0 5% 0;
  }
  .modal-content {
    padding: 2% !important;
  }
}